.player-area {
  padding: 30px;
}
.player {
  border-radius: 40px;
}

.comment-section {
  margin-top: 30px;
}

.comment {
  width: 100%;
  border: 1px solid white;
  padding: 20px 10px;
  border-radius: 20px;
}

.comment-write {
  display: flex;
}

.comment-btn {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  flex-basis: 30%;
}
