.player-area {
  padding: 15px;
}

.comment-section {
  margin-top: 30px;
}

.comment {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.user-img {
  display: block;
  background-color: black;
  width: 80px;
  height: 80px;
  margin-right: 5px;
  border-radius: 50%;
}

.comment-content p:nth-child(1) {
  margin: 0;
  padding: 0;
}

.comment-content p:nth-child(2) {
  font-size: 12px;
}
.comment-write {
  display: flex;
  align-items: center;
}

.comment-btn {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  flex-basis: 30%;
}

.comment-btn:hover {
  background: rgba(44, 44, 44, 0.25);
}

.comment-input {
  outline: none;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  padding: 20px;
  width: 100%;
  margin-right: 5px;
}
